#titulo {
    font-size: 40px;
    color:cornflowerblue;
    text-align: center;
}

.texto {
    font-size: 18px;
}

.foto {
    height: 80px;
    width: 80px;
}

#links {
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.historia{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding: 30px;
    margin-inline-start: auto;


}

.missao{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding: 30px;
    margin-inline-start: auto;

}
.atuacao{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding: 30px;
    margin-inline-start: auto;

}